.single_product_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

/* LEFT */
.product_images_section {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* MIDDLE */
.product_details_section {
  max-width: 450px;
}

.product_title {
  font-size: 40px;
  margin-bottom: 10px;
}

.product_price {
  font-size: 22px;
  color: green;
  display: block;
  margin-bottom: 10px;
}

.product_description {
  font-size: 15px;
  line-height: 1.6;
}

/* RIGHT */
.product_actions_section {
  min-width: 220px;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stock_container {
  margin-top: 20px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
}

.stock_status {
  font-size: 22px;
  color: green;
  font-weight: 600;
}

.stock_location {
  margin-top: 8px;
  font-size: 14px;
}

.image_thumbnails_container {
  min-height: 45vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding: 10px;
  margin: 10px;
}
.thumbnail_image {
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

.image_screen {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.add_to_cart_button {
  border-radius: 20px;
  background-color: rgb(224, 125, 4);
  padding: 5px 20px;
  outline: none;
  border: none;
}
.buy_now_button {
  border-radius: 20px;
  background-color: rgb(239, 189, 5);
  padding: 5px 20px;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .single_product_container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
  }
}
